
h1{
    background-color: black;
    color: rgb(185, 146, 222);
}
form{
    background-color: rgb(30, 30, 100);
    color: beige;
}
table{
    background-color: rgb(69, 28, 108);
    color: rgb(143, 243, 243);
}
